.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .register-content {
    max-width: 600px; /* Adjust width as needed */
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .register-header {
    font-size: 24px;
    margin-bottom: 20px;
    color: #19323C;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #19323C;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-row {
    display: flex;
    gap: 10px;
  }
  
  .form-row input {
    flex: 1;
    padding: 15px;
    border: 1.4px solid #19323C;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .register-button {
    background-color: #F2545B;
    color: white;
    border: 1.4px solid #19323C;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 214px;
  }
  
  .register-button:hover {
    background-color: #A93F55;
  }
  
  .register-message {
    margin-top: 10px;
    color: red;
  }
  
