.user-orders-table-content {
    margin: 70px 80px;
    display: flex;
    flex-direction: row; 
    color: #19323C;
    font-family: Arial, sans-serif; 
}

.table-content {
    flex: 2 1;
    border: solid;
    border-radius: 10px;
    border-color: #19323C;
    overflow: hidden;
}

.user-order-table {
    width: 100%;
    border-collapse: collapse;
}

.user-order-table th, .user-order-table td {
    text-align: left;
    padding: 12px 15px; 
    border-bottom: 1px solid #ccc; 
}

.user-order-table th {
    background-color: #19323C;
    color: white;
    cursor: pointer;
}

.user-order-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.user-order-table tr:hover {
    background-color: #ddd;
}

.user-orders-table-content-button {
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #F2545B;
    color: white;
}

.user-orders-table-content-button:hover {
    opacity: 0.8;
    background-color: #A93F55;
}

.pagination {
    padding: 10px 0;
    justify-content: center;
    display: flex;
}

.pagination-button {
    padding: 8px 16px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #F2545B;
    color: white;
}

.pagination-button:hover {
    background-color: #A93F55;
}

.Modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: auto;
}

.Overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
