.product-admin-page {
    margin: 70px 80px;
    display: flex;
    flex-direction: row; 
    color: #19323C;
    font-family: Arial, sans-serif; 
}

.content {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.add-new-product-button {
    align-self: flex-start;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #F2545B;
    color: white;
    font-size: 16px;
}

.add-new-product-button:hover {
    background-color: #A93F55;
}

.table-content {
    flex: 1;
    border: solid;
    border-radius: 10px;
    border-color: #19323C;
    overflow: hidden;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th, .product-table td {
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #ccc;
}

.product-table th {
    background-color: #19323C;
    color: white;
    cursor: pointer;
}

.product-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.product-table tr:hover {
    background-color: #ddd;
}

.product-table-content-button {
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #F2545B;
    color: white;
}

.product-table-content-button:hover {
    opacity: 0.8;
    background-color: #A93F55;
}

.pagination {
    padding: 10px 0;
    justify-content: center;
    display: flex;
}

.pagination-button {
    background-color: #F2545B;
    margin: 0 5px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.pagination-button:hover {
    background-color: #A93F55;
}
